 .u-section-1 {
  background-image: url("../assets.nicepagecdn.com/c162bf5e/6237582/images/pexels-fotios-photos-21364525.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-line-1 {
  left: auto;
  top: 334px;
  position: absolute;
  height: 382px;
  transform-origin: center bottom;
  right: -84px;
}

.u-section-1 .u-image-1 {
  width: 40px;
  height: 40px;
  margin: 204px auto 0 1205px;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 8px auto 0 1209px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  width: 25px;
  height: 25px;
  margin: 8px auto 0 1213px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 474px auto 60px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-1 .u-line-1 {
    top: 380px;
    right: 43px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 263px;
    margin-right: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 0;
    margin-right: 29px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 33px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -309px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-line-1 {
    top: 327px;
    right: 42px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 210px;
    margin-right: 24px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 28px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 32px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -195px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1025px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 952px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-line-1 {
  top: 286px;
  position: absolute;
  height: 633px;
  transform-origin: center top;
}

.u-section-2 .u-text-1 {
  font-family: adelia;
  line-height: 1.83;
  font-size: 2.25rem;
  letter-spacing: 0px;
  width: 551px;
  margin: 43px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Chopin-Light;
  font-weight: 700;
  font-size: 3rem;
  margin: 45px 109px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  line-height: 1.28;
  font-family: Chopin-Light;
  font-weight: 700;
  margin: 19px 51px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 410px;
  height: 410px;
  background-image: url("../assets.nicepagecdn.com/c162bf5e/6237582/images/4d750ea4e141f0888b76949d3dfc9f59e15786db92c711d50ecae9bb5633af55f959564687d18ee8cb318d66b5f11a48562605455e9db4bc8949b3_1280.jpg");
  background-position: 50% 50%;
  margin: -514px auto 104px 75px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    transform-origin: center bottom;
    top: 230px;
    height: 687px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.625rem;
    width: 344px;
    margin-top: 26px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: 31px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 31px;
    margin-left: 500px;
  }

  .u-section-2 .u-image-1 {
    width: 343px;
    height: 343px;
    margin-top: -504px;
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 307px;
    margin-top: 27px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 165px;
    margin-right: 128px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 20px;
    margin-right: -11px;
    margin-left: 388px;
  }

  .u-section-2 .u-image-1 {
    width: 277px;
    height: 277px;
    margin-top: -414px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-top: 93px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -77px;
    margin-right: 17px;
    margin-left: 298px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -497px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-2 .u-line-1 {
    top: 224px;
    left: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 46px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 274px;
    margin-right: auto;
    margin-left: 17px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 17px;
    margin-right: 0;
    margin-left: 17px;
  }

  .u-section-2 .u-image-1 {
    width: 203px;
    height: 203px;
    margin-top: -757px;
    margin-left: auto;
    margin-bottom: 60px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-line-1 {
  top: 620px;
  position: absolute;
  height: 73px;
  transform-origin: center top;
  left: 58px;
}

.u-section-3 .u-line-2 {
  top: 682px;
  position: absolute;
  height: 73px;
  transform-origin: center top;
  left: 377px;
}

.u-section-3 .u-line-3 {
  top: 620px;
  position: absolute;
  height: 73px;
  transform-origin: center top;
  left: auto;
  right: 435px;
}

.u-section-3 .u-line-4 {
  top: 682px;
  position: absolute;
  height: 73px;
  transform-origin: center top;
  left: auto;
  right: 107px;
}

.u-section-3 .u-line-5 {
  top: 403px;
  position: absolute;
  height: 73px;
  transform-origin: center top;
  left: 59px;
}

.u-section-3 .u-line-6 {
  top: 489px;
  position: absolute;
  height: 73px;
  transform-origin: center top;
  left: 377px;
}

.u-section-3 .u-line-7 {
  top: 419px;
  position: absolute;
  height: 73px;
  transform-origin: center top;
  left: auto;
  right: 437px;
}

.u-section-3 .u-line-8 {
  top: 489px;
  position: absolute;
  height: 73px;
  transform-origin: center top;
  left: auto;
  right: 107px;
}

.u-section-3 .u-text-1 {
  font-family: Chopin-Light;
  font-size: 3rem;
  font-weight: 400;
  margin: 26px auto 0;
}

.u-section-3 .u-image-1 {
  width: 318px;
  height: 324px;
  --radius: 50px;
  border-style: double;
  margin: 30px auto 0 872px;
}

.u-section-3 .u-image-2 {
  width: 318px;
  height: 324px;
  border-style: double;
  --radius: 50px;
  margin: -304px auto 0 218px;
}

.u-section-3 .u-image-3 {
  width: 231px;
  height: 231px;
  border-style: double;
  margin: -300px auto 0 586px;
}

.u-section-3 .u-image-4 {
  width: 216px;
  height: 216px;
  background-image: url("../assets.nicepagecdn.com/c162bf5e/6237582/images/d564398a27b57fbe9a218bdf94b70c6a400c7eb69cb194545174b88eaf168e14179a48cc97fbb63e3aab133bc96d12e3902243e4a85043f2b4236a_1280.jpg");
  background-position: 50% 50%;
  border-style: double;
  margin: -231px auto 0 -50px;
}

.u-section-3 .u-text-2 {
  font-family: adelia;
  line-height: 1.64;
  margin: 141px 354px 0 617px;
}

.u-section-3 .u-text-3 {
  font-family: adelia;
  margin: -51px auto 0 -13px;
}

.u-section-3 .u-text-4 {
  font-family: adelia;
  margin: 36px auto 0 272px;
}

.u-section-3 .u-text-5 {
  font-family: adelia;
  margin: -43px 36px 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Chopin-Light;
  margin: 65px auto 0 -36px;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  font-family: Chopin-Light;
  font-weight: 700;
  margin: -72px auto 0 583px;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  font-family: Chopin-Light;
  font-weight: 700;
  margin: -34px auto 0 262px;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  font-family: Chopin-Light;
  font-weight: 700;
  margin: -115px auto 0 910px;
}

.u-section-3 .u-line-9 {
  width: 752px;
  margin: 0 auto 60px 36px;
}

.u-section-3 .u-line-10 {
  width: 77px;
  transform-origin: left center;
  margin: -9px 271px 60px auto;
}

.u-section-3 .u-line-11 {
  width: 77px;
  transform-origin: left center;
  margin: 316px auto 0 275px;
}

.u-section-3 .u-line-12 {
  width: 77px;
  transform-origin: left center;
  margin: -9px auto 60px 588px;
}

.u-section-3 .u-line-13 {
  width: 77px;
  transform-origin: left center;
  margin: 256px auto 0 275px;
}

.u-section-3 .u-line-14 {
  width: 77px;
  transform-origin: left center;
  margin: -9px auto 60px 588px;
}

.u-section-3 .u-line-15 {
  width: 77px;
  transform-origin: left center;
  margin: 259px auto 0 275px;
}

.u-section-3 .u-line-16 {
  width: 77px;
  transform-origin: left center;
  margin: -3px 275px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-3 .u-line-2 {
    top: 481px;
    left: 358px;
  }

  .u-section-3 .u-line-3 {
    top: 481px;
    left: 435px;
  }

  .u-section-3 .u-line-4 {
    top: 525px;
    right: 190px;
  }

  .u-section-3 .u-line-7 {
    top: 481px;
    left: 396px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    font-weight: 700;
  }

  .u-section-3 .u-image-1 {
    width: 229px;
    height: 234px;
    margin-top: 772px;
    margin-left: 19px;
  }

  .u-section-3 .u-image-2 {
    width: 229px;
    height: 233px;
    margin-top: -741px;
    margin-left: 19px;
  }

  .u-section-3 .u-image-3 {
    width: 216px;
    height: 216px;
    margin-top: 29px;
    margin-left: 26px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -723px;
    margin-left: 23px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 370px;
    margin-right: 389px;
    margin-left: 382px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -558px;
    margin-left: 396px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 210px;
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 464px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -829px;
    margin-left: 702px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 410px;
    margin-left: 678px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -359px;
    margin-left: 685px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 405px;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-3 .u-line-9 {
    width: 77px;
    transform-origin: left center;
    margin-top: -790px;
    margin-bottom: 0;
    margin-left: 272px;
  }

  .u-section-3 .u-line-10 {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 585px;
  }

  .u-section-3 .u-line-11 {
    margin-top: 257px;
  }

  .u-section-3 .u-line-12 {
    margin-bottom: 0;
  }

  .u-section-3 .u-line-13 {
    margin-left: 272px;
  }

  .u-section-3 .u-line-14 {
    margin-bottom: 0;
    margin-left: 585px;
  }

  .u-section-3 .u-line-15 {
    margin-top: 254px;
  }

  .u-section-3 .u-line-16 {
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: 588px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    height: 233px;
    margin-left: 376px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
    margin-left: 192px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
    margin-left: 463px;
  }

  .u-section-3 .u-image-4 {
    margin-left: -76px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 169px;
  }

  .u-section-3 .u-text-3 {
    margin-left: -39px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 182px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 546px;
  }

  .u-section-3 .u-text-6 {
    margin-left: -62px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 349px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 174px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 549px;
  }

  .u-section-3 .u-line-9 {
    margin-left: 165px;
  }

  .u-section-3 .u-line-10 {
    margin-left: 478px;
  }

  .u-section-3 .u-line-11 {
    margin-left: 165px;
  }

  .u-section-3 .u-line-12 {
    margin-left: 478px;
  }

  .u-section-3 .u-line-13 {
    margin-left: 165px;
  }

  .u-section-3 .u-line-14 {
    margin-left: 478px;
  }

  .u-section-3 .u-line-15 {
    margin-bottom: 15px;
    margin-left: 165px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-left: 199px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 195px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 286px;
  }

  .u-section-3 .u-image-4 {
    margin-left: -73px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 77px;
    margin-left: 295px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -203px;
    margin-left: -36px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 25px;
    margin-left: 133px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 108px;
    margin-left: 406px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -86px;
    margin-left: -59px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 258px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 127px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 408px;
  }

  .u-section-3 .u-line-9 {
    margin-left: 138px;
  }

  .u-section-3 .u-line-10 {
    margin-left: 326px;
  }

  .u-section-3 .u-line-11 {
    margin-left: 138px;
  }

  .u-section-3 .u-line-12 {
    margin-left: 326px;
  }

  .u-section-3 .u-line-13 {
    margin-left: 138px;
  }

  .u-section-3 .u-line-14 {
    margin-left: 326px;
  }

  .u-section-3 .u-line-15 {
    margin-left: 138px;
  }

  .u-section-3 .u-line-16 {
    margin-left: 463px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-3 .u-line-1 {
    top: 624px;
    left: -29px;
  }

  .u-section-3 .u-line-2 {
    top: 500px;
    left: auto;
    right: 123px;
  }

  .u-section-3 .u-line-3 {
    top: 485px;
    left: auto;
    right: -10px;
  }

  .u-section-3 .u-line-4 {
    top: 433px;
    left: -361px;
    right: 107px;
  }

  .u-section-3 .u-line-5 {
    top: 311px;
    left: -450px;
  }

  .u-section-3 .u-line-6 {
    top: 508px;
    left: auto;
    right: 104px;
  }

  .u-section-3 .u-line-7 {
    top: 485px;
    left: auto;
    right: 29px;
  }

  .u-section-3 .u-line-8 {
    top: 397px;
    left: -278px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    width: 170px;
    height: 170px;
    margin-top: 26px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 170px;
    height: 173px;
    margin-top: 210px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 170px;
    height: 170px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    width: 170px;
    height: 170px;
    margin-top: -553px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 278px;
    margin-right: -24px;
    margin-left: 195px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -424px;
    margin-right: 0;
    margin-left: 218px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 168px;
    margin-right: -9px;
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: -423px;
    margin-right: 18px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 1828px;
    margin-left: 76px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 48px;
    margin-left: 64px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 494px;
    margin-left: 95px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 20px;
    margin-left: 272px;
  }

  .u-section-3 .u-line-9 {
    margin-top: -181px;
    margin-left: auto;
  }

  .u-section-3 .u-line-10 {
    margin-top: -173px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-3 .u-line-11 {
    margin-top: 261px;
    margin-left: auto;
  }

  .u-section-3 .u-line-12 {
    margin-top: -13px;
    margin-left: 132px;
  }

  .u-section-3 .u-line-13 {
    margin-top: 260px;
    margin-left: auto;
  }

  .u-section-3 .u-line-14 {
    margin-top: -13px;
    margin-left: 132px;
  }

  .u-section-3 .u-line-15 {
    margin-top: 258px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-line-16 {
    margin-left: 263px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 982px;
}

.u-section-4 .u-text-1 {
  width: 510px;
  font-family: Chopin-Light;
  font-weight: 700;
  margin: 95px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 39px;
}

.u-section-4 .u-image-1 {
  min-height: 555px;
  background-image: url("../assets.nicepagecdn.com/11a8ddce/6173881/images/positive-human-emotions-portrait-beautiful-charming-female-student-with-afro-hairstyle-having-shy-look-laughing-wearing-stylish-round-eyeglass");
  background-position: 50% 50%;
  --radius: 50px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 732px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  height: 493px;
  width: 447px;
  background-image: none;
  --radius: 18px;
  box-shadow: 5px 5px 11px 0 rgba(0,0,0,0.23);
  margin: 0 auto;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  --radius: 50px;
  box-shadow: 2px 2px 3px 0px rgba(128,128,128,1);
}

.u-section-4 .u-text-2 {
  font-family: Chopin-Light;
  font-weight: 400;
  margin: 24px auto 0;
}

.u-section-4 .u-line-1 {
  top: 0;
  position: absolute;
  height: 72px;
  transform-origin: center top;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-4 .u-image-1 {
    min-height: 458px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 604px;
  }

  .u-section-4 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-4 .u-image-1 {
    min-height: 351px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-4 .u-image-1 {
    min-height: 527px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-form-1 {
    width: 480px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 332px;
  }

  .u-section-4 .u-form-1 {
    width: 320px;
  }
}@font-face {
  font-family: 'adelia';
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.nicepagecdn.com/c162bf5e/6237582/fonts/adelia.otf);
}@font-face {
  font-family: 'Chopin-Light';
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.nicepagecdn.com/c162bf5e/6237582/fonts/Chopin-Light.ttf);
}